<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ErganhE7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ErganhE7.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ErganhE7.Properties.Settings>
            <setting name="ypiresiaOaed" serializeAs="String">
                <value />
            </setting>
            <setting name="ypiresiaSepe" serializeAs="String">
                <value />
            </setting>
            <setting name="kallikratisPararthmatos" serializeAs="String">
                <value />
            </setting>
            <setting name="kadPararthmatos" serializeAs="String">
                <value />
            </setting>
            <setting name="aaPararthmatos" serializeAs="String">
                <value />
            </setting>
            <setting name="yphkoothta" serializeAs="String">
                <value />
            </setting>
        </ErganhE7.Properties.Settings>
        <ErganhE7.AppSettings>
            <setting name="ypiresia_oaed" serializeAs="String">
                <value>607201</value>
            </setting>
            <setting name="ypiresia_sepe" serializeAs="String">
                <value>24030</value>
            </setting>
            <setting name="kad_kyria" serializeAs="String">
                <value>8531</value>
            </setting>
            <setting name="kallikratis_pararthmatos" serializeAs="String">
                <value>92430203</value>
            </setting>
            <setting name="kad_pararthmatos" serializeAs="String">
                <value>8531</value>
            </setting>
            <setting name="aa_pararthmatos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yphkoothta" serializeAs="String">
                <value>048</value>
            </setting>
        </ErganhE7.AppSettings>
    </userSettings>
</configuration>
