<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ErganhE7.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <ErganhE7.AppSettings>
            <setting name="ypiresia_oaed" serializeAs="String">
                <value>607201</value>
            </setting>
            <setting name="ypiresia_sepe" serializeAs="String">
                <value>24030</value>
            </setting>
            <setting name="kad_kyria" serializeAs="String">
                <value>8531</value>
            </setting>
            <setting name="kallikratis_pararthmatos" serializeAs="String">
                <value>92430203</value>
            </setting>
            <setting name="kad_pararthmatos" serializeAs="String">
                <value>8531</value>
            </setting>
            <setting name="aa_pararthmatos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="yphkoothta" serializeAs="String">
                <value>048</value>
            </setting>
            <setting name="afm_proswpoy" serializeAs="String">
                <value>123456789</value>
            </setting>
        </ErganhE7.AppSettings>
    </applicationSettings>
</configuration>